---
layout: default
archive: true
post_class: post-template
---

<!-- Begin Article
================================================== -->

<div class="row">

    <!-- Post -->
    {% assign author = site.authors[page.author] %}

    <div class="col-sm-8">
        <div class="mainheading">

            <!-- Post Categories -->
            <div class="after-post-tags">
                <ul class="tags">
                    {% assign sortedCategories = page.categories | sort %}
                    {% for category in sortedCategories %}
                    <li>
                        <a href="{{ site.baseurl }}/category/{{ category | slugify }}/">{{
                            category }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End Categories -->

            <!-- Post Title -->
            <h1 class="posttitle">{{ page.title }}</h1>
        </div>

        <!-- Post Featured cover -->
        {% if page.cover %}<img class="featured-cover img-fluid"
                                src="{{ site.baseurl }}/{{ page.cover }}"
                                alt="{{ page.title }}" width="100%">{% endif %}
        <!-- End Featured cover -->
        <br><br>

        <!-- Post Content -->
        <div class="article-post">
            {{content}}
            <div class="clearfix"></div>
        </div>

        <!-- Post Date -->
        <p>
            <small>
                <span class="post-date"><time class="post-date"
                                              datetime="{{ page.date | date:"
                                              %Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>
                {% if page.last_modified_at %}
                (Updated:
                <time datetime="{{ page.last_modified_at | date_to_xmlschema }}"
                      itemprop="dateModified">{{ page.last_modified_at | date:
                    "%b %-d, %Y" }}
                </time>
                )
                {% endif %}
            </small>
        </p>
        </div>

<!-- End Article
================================================== -->
