<div id="embed">
    <center>Get our weekly tech info and updates.</center>
    <br>
    <form
  action="https://formspree.io/f/mwkdlewq"
  method="POST"
>
  <label>
    Your email:
    <input type="email" name="email">
  </label>
  <!-- your other form fields go here -->
        
</div>
        <br>
        <div class="form-actions">
            <input type="submit" value="Subscribe" name="member[subscribe]"
                   class="btn btn-primary btn-lg btn-block" id="member_submit">
        </div>
    </form>
</div>
